@model ICollection<Tenant>?

<div class="table-responsive">
    <table class="table m-0 table-nexum-dark rounded-5 overflow-hidden">
        <thead>
            <tr class="text-center">
                <th class="border-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="Add" role="button">
                            <svg class="bi text-success" fill="currentColor" style="max-height: 25px; max-width: 25px;">
                                <use xlink:href="#plus-circle"></use>
                            </svg>
                        </a>
                    </div>
                </th>
                <th class="border-0">Name</th>
                <th class="border-0">Representative</th>
                <th class="border-0">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count == 0)
            {
                <tr>
                    <td colspan="4">No tenants found</td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (var tenant in Model)
                {
                    i++;
                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center" data-bs-toggle="collapse" data-bs-target="#details@(tenant.Id)">
                        <td class="text-nowrap border-0">@i</td>
                        <td class="text-nowrap border-0">@tenant.Name</td>
                        <td class="text-nowrap border-0">@tenant.TenantInfo.Name</td>
                        <td class="border-0">
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="View" role="button">
                                    <svg class="bi text-light table-button-nexum" fill="currentColor">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                </a>
                                <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="Update" role="button">
                                    <svg class="bi text-light table-button-nexum" fill="currentColor">
                                        <use xlink:href="#pencil-square"></use>
                                    </svg>
                                </a>
                                <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="Delete" role="button">
                                    <svg class="bi text-danger table-button-nexum" fill="currentColor">
                                        <use xlink:href="#x-circle"></use>
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-0 border-0" colspan="12">
                            <div id="details@(tenant.Id)" class="collapse">
                                <table class="table m-0 table-nexum-dark border-0">
                                    <thead>
                                        <tr>
                                            <th class="border-0">Name</th>
                                            <th class="border-0">Phone</th>
                                            <th class="border-0">Email</th>
                                            <th class="border-0">Address</th>
                                            <th class="border-0">City</th>
                                            <th class="border-0">State</th>
                                            <th class="border-0">Zip</th>
                                            <th class="border-0">Country</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="row-nexum-striped">
                                            <td class="border-0">@tenant.TenantInfo.Name</td>
                                            <td class="border-0">@tenant.TenantInfo.Phone</td>
                                            <td class="border-0">@tenant.TenantInfo.Email</td>
                                            <td class="border-0">@tenant.TenantInfo.Address</td>
                                            <td class="border-0">@tenant.TenantInfo.City</td>
                                            <td class="border-0">@tenant.TenantInfo.State</td>
                                            <td class="border-0">@tenant.TenantInfo.Zip</td>
                                            <td class="border-0">@tenant.TenantInfo.Country</td>
                                        </tr>
                                        <tr class="row-nexum-striped">
                                            <td class="border-0" colspan="12">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="View" role="button">
                                                        <svg class="bi text-light table-button-nexum" fill="currentColor">
                                                            <use xlink:href="#key"></use>
                                                        </svg>
                                                    </a>
                                                    <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="Update" role="button">
                                                        <svg class="bi text-light table-button-nexum" fill="currentColor">
                                                            <use xlink:href="#pencil-square"></use>
                                                        </svg>
                                                    </a>
                                                    <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="Delete" role="button">
                                                        <svg class="bi text-danger table-button-nexum" fill="currentColor">
                                                            <use xlink:href="#x-circle"></use>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('.collapse').on('show.bs.collapse', function () {
            $('.collapse').not(this).collapse('hide');
        });
    });
</script>