@model ICollection<Tenant>?

<div class="table-responsive">
    <table class="table m-0 table-nexum-dark rounded-5 overflow-hidden">
        <thead>
            <tr class="text-center">
                <th class="border-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <a id="tenantCreateLink" class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="Create" role="button">
                            <svg class="bi text-success" fill="currentColor" style="max-height: 25px; max-width: 25px;">
                                <use xlink:href="#plus-circle"></use>
                            </svg>
                        </a>
                    </div>
                </th>
                <th class="border-0">Name</th>
                <th class="border-0">Representative</th>
                <th class="border-0">isActive</th>
                <th class="border-0">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count == 0)
            {
                <tr>
                    <td class="text-center text-nowrap" colspan="12">No tenants found</td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (var tenant in Model)
                {
                    i++;
                    <tr>
                        <td class="p-0 border-0" colspan="12">
                            <div id="tempDataMessageTenant@(tenant.Id)"></div>
                        </td>
                    </tr>
                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap" data-bs-toggle="collapse" data-bs-target="#details@(tenant.Id)">
                        <td class="border-0">@i</td>
                        <td class="border-0">@tenant.Name</td>
                        <td class="border-0">@tenant.TenantInfo.Name</td>
                        <td class="border-0">@tenant.IsActive.ToString()</td>
                        <td class="border-0">
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" role="button" data-bs-toggle="collapse" data-bs-target="#details@(tenant.Id)">
                                    <svg class="bi text-light table-button-nexum" fill="currentColor">
                                        <use xlink:href="#key"></use>
                                    </svg>
                                </a>
                                <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="Update" role="button">
                                    <svg class="bi text-light table-button-nexum" fill="currentColor">
                                        <use xlink:href="#pencil-square"></use>
                                    </svg>
                                </a>
                                <form id="tenantDeleteForm@(tenant.Id)" asp-controller="Tenant" asp-action="Delete" asp-route-id="@tenant.Id">
                                    <button type="submit" class="nav-link rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                        <svg class="bi text-danger table-button-nexum" fill="currentColor">
                                            <use xlink:href="#x-circle"></use>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-0 border-0" colspan="12">
                            <div id="details@(tenant.Id)" class="collapse">
                                <table class="table m-0 table-nexum-dark border-0">
                                    <thead>
                                        <tr class="text-center text-nowrap">
                                            <th class="border-0">Name</th>
                                            <th class="border-0">Phone</th>
                                            <th class="border-0">Email</th>
                                            <th class="border-0">Address</th>
                                            <th class="border-0">City</th>
                                            <th class="border-0">State</th>
                                            <th class="border-0">Zip</th>
                                            <th class="border-0">Country</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="row-nexum-striped text-center text-nowrap">
                                            <td class="border-0">@tenant.TenantInfo.Name</td>
                                            <td class="border-0">@tenant.TenantInfo.Phone</td>
                                            <td class="border-0">@tenant.TenantInfo.Email</td>
                                            <td class="border-0">@tenant.TenantInfo.Address</td>
                                            <td class="border-0">@tenant.TenantInfo.City</td>
                                            <td class="border-0">@tenant.TenantInfo.State</td>
                                            <td class="border-0">@tenant.TenantInfo.Zip</td>
                                            <td class="border-0">@tenant.TenantInfo.Country</td>
                                        </tr>
                                        <tr class="row-nexum-striped">
                                            <td class="p-0 border-0" colspan="12">
                                                <div id="tempDataMessageKey@(tenant.Id)"></div>
                                                <div id="keyCreateContentBox@(tenant.Id)"></div>
                                                <table class="table m-0 table-nexum-dark border-0">
                                                    <thead>
                                                        <tr class="text-center text-nowrap">
                                                            <th class="border-0">
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <a id="keyCreateLink@(tenant.Id)" class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="AddKey" role="button">
                                                                        <svg class="bi text-success" fill="currentColor" style="max-height: 25px; max-width: 25px;">
                                                                            <use xlink:href="#plus-circle"></use>
                                                                        </svg>
                                                                    </a>
                                                                </div>
                                                            </th>
                                                            <th class="border-0">Value</th>
                                                            <th class="border-0">Type</th>
                                                            <th class="border-0">isActive</th>
                                                            <th class="border-0">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="border-bottom">
                                                        @if (tenant.InstallationKeys == null || tenant.InstallationKeys.Count() == 0)
                                                        {
                                                            <tr class="text-center text-nowrap">
                                                                <td class="border-0" colspan="12">No keys found</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            int j = 0;
                                                            foreach (var key in tenant.InstallationKeys.Where(k => !k.IsDeleted))
                                                            {
                                                                j++;
                                                                <tr class="row-nexum-striped text-center text-nowrap">
                                                                    <td class="border-0">@j</td>
                                                                    <td class="border-0">@key.Key</td>
                                                                    <td class="border-0">@key.Type</td>
                                                                    <td class="border-0">@key.IsActive.ToString()</td>
                                                                    <td class="border-0">
                                                                        <div class="d-flex justify-content-center align-items-center">
                                                                            <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="EditKey" role="button">
                                                                                <svg class="bi text-light table-button-nexum" fill="currentColor">
                                                                                    <use xlink:href="#pencil-square"></use>
                                                                                </svg>
                                                                            </a>
                                                                            <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="DeleteKey" role="button">
                                                                                <svg class="bi text-danger table-button-nexum" fill="currentColor">
                                                                                    <use xlink:href="#x-circle"></use>
                                                                                </svg>
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>