@model ICollection<DeviceAlert>?

<h1>List of Alerts</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Severity</th>
            <th>Message</th>
            <th>Time</th>
            <th>Device</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if( Model == null || Model.Count == 0)
        {
            <tr>
                <td colspan="6">No alerts found</td>
            </tr>
        }
        else
        {
            foreach (var alert in Model)
            {
                int i = 0;
                <tr>
                    <td>@i</td>
                    <td>@alert.Severity</td>
                    <td>@alert.Message</td>
                    <td>@alert.Time</td>
                    <td>@alert.DeviceId</td>
                    <td>
                        <a href="#">✔</a> |
                        <a href="#">✘</a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>