@model ICollection<Tenant>?

@{
    var informationAlertsCount = Model?.Where(t => t.Devices != null)
                                    .SelectMany(t => t.Devices!)
                                    .Where(d => d.Alerts != null)
                                    .SelectMany(d => d.Alerts!)
                                    .Count(a => a.Severity == AlertSeverity.Information) ?? 0;

    var lowAlertsCount = Model?.Where(t => t.Devices != null)
                                    .SelectMany(t => t.Devices!)
                                    .Where(d => d.Alerts != null)
                                    .SelectMany(d => d.Alerts!)
                                    .Count(a => a.Severity == AlertSeverity.Low) ?? 0;

    var mediumAlertsCount = Model?.Where(t => t.Devices != null)
                                    .SelectMany(t => t.Devices!)
                                    .Where(d => d.Alerts != null)
                                    .SelectMany(d => d.Alerts!)
                                    .Count(a => a.Severity == AlertSeverity.Medium) ?? 0;

    var highAlertsCount = Model?.Where(t => t.Devices != null)
                                    .SelectMany(t => t.Devices!)
                                    .Where(d => d.Alerts != null)
                                    .SelectMany(d => d.Alerts!)
                                    .Count(a => a.Severity == AlertSeverity.High) ?? 0;

    var criticalAlertsCount = Model?.Where(t => t.Devices != null)
                                    .SelectMany(t => t.Devices!)
                                    .Where(d => d.Alerts != null)
                                    .SelectMany(d => d.Alerts!)
                                    .Count(a => a.Severity == AlertSeverity.Critical) ?? 0;
}

<!-- Alerts Cards -->
<div class="d-flex flex-wrap justify-content-around my-3">
    <!-- Information Alert Card -->
    <div class="card bg-information text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
        <div class="card-body nexum-card-body-square">
            <div class="d-flex flex-column justify-content-center justify-content-center nexum-card-shadow-inset rounded-2">
            <h3 class="nexum-card-title-square mb-0">@informationAlertsCount</h3>
            <p class="nexum-card-text-square mb-0">Information</p>
        </div>
    </div>
    <!-- Low Alert Card -->
    <div class="card bg-low text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
        <div class="card-body nexum-card-body-square">
            <div class="d-flex flex-column justify-content-center justify-content-center nexum-card-shadow-inset rounded-2">
            <h3 class="nexum-card-title-square mb-0">@lowAlertsCount</h3>
            <p class="nexum-card-text-square mb-0">Low</p>
        </div>
    </div>
    <!-- Medium Alert Card -->
    <div class="card bg-medium text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
        <div class="card-body nexum-card-body-square">
            <div class="d-flex flex-column justify-content-center justify-content-center nexum-card-shadow-inset rounded-2">
            <h3 class="nexum-card-title-square mb-0">@mediumAlertsCount</h3>
            <p class="nexum-card-text-square mb-0">Medium</p>
        </div>
    </div>
    <!-- High Alert Card -->
    <div class="card bg-high text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
        <div class="card-body nexum-card-body-square">
            <div class="d-flex flex-column justify-content-center justify-content-center nexum-card-shadow-inset rounded-2">
            <h3 class="nexum-card-title-square mb-0">@highAlertsCount</h3>
            <p class="nexum-card-text-square mb-0">High</p>
        </div>
    </div>
    <!-- Critical Alert Card -->
    <div class="card bg-critical text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
        <div class="card-body nexum-card-body-square">
            <div class="d-flex flex-column justify-content-center justify-content-center nexum-card-shadow-inset rounded-2">
            <h3 class="nexum-card-title-square mb-0">@criticalAlertsCount</h3>
            <p class="nexum-card-text-square mb-0">Critical</p>
        </div>
    </div>
</div>