@model ICollection<Tenant>?

<div class="table-responsive">
    <table class="table m-0 table-nexum-dark rounded-5 overflow-hidden">
        <thead>
            <tr class="text-center">
                @{
                    var activeTenantId = Context.Session.GetString("ActiveTenantId");
                    var activeDeviceId = Context.Session.GetString("ActiveDeviceId");
                }
                @if (activeTenantId != null && Model != null && activeDeviceId != null)
                {
                    <th class="border-0">
                        <div class="d-flex justify-content-center align-items-center">
                            <a id="jobCreateLink" class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Job" asp-action="Create" role="button">
                                <svg class="bi text-success" fill="currentColor" style="max-height: 25px; max-width: 25px;">
                                    <use xlink:href="#plus-circle"></use>
                                </svg>
                            </a>
                        </div>
                    </th>
                }
                else
                {
                    <th class="border-0 text-nexum-light">#</th>
                }
                @if (Model != null && Model.Count() > 1)
                {
                    <th class="border-0 text-nexum-light">Tenant</th>
                }
                @if (activeDeviceId == null)
                {
                    <th class="border-0 text-nexum-light">Device</th>
                }
                <th class="border-0 text-nexum-light">Status</th>
                <th class="border-0 text-nexum-light">Type</th>
                <th class="border-0 text-nexum-light">Progress</th>
                <th class="border-0 text-nexum-light">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any() || Model.All(t => t.Devices == null || !t.Devices.Any(d => d.Jobs != null && d.Jobs.Any())))
            {
                <tr>
                    <td class="border-2 border-top-0 border-start-0 border-end-0 text-center text-nowrap text-nexum-light" colspan="12">No Jobs found</td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (var tenant in Model.OrderBy(t => t.Name))
                {
                    if (tenant.Devices != null && tenant.Devices.Any())
                    {
                        foreach (var device in tenant.Devices)
                        {
                            if(device.Jobs != null && device.Jobs.Any())
                            {
                                foreach (var job in device.Jobs.OrderBy(j => j.Progress))
                                {
                                    i++;
                                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                                        <td class="p-0 border-0" colspan="12">
                                            <div id="tempDataMessageJob@(job.Id)"></div>
                                        </td>
                                    </tr>
                                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                                        <td class="border-0 text-nexum-light">@i</td>
                                        @if (Model.Count() > 1)
                                        {
                                            <th class="border-0 text-nexum-light text-start">@tenant.Name</th>
                                        }
                                        @if (Context.Session.GetString("ActiveDeviceId") == null)
                                        {
                                            <td class="border-0 text-nexum-light">
                                                    
                                                @{
                                                    var activeDevice = @Model?.Where(t => t.Devices != null).SelectMany(t => t.Devices).FirstOrDefault(d => d.Id == job.DeviceId);
                                                }

                                                @if (activeDevice != null && activeDevice.Status != null)
                                                {
                                                    <div class="rounded-1 d-flex align-items-center justify-content-start p-0" style="border: none; background: none;">
                                                        @switch (activeDevice.Status)
                                                        {
                                                            case DeviceStatus.Online:
                                                                <svg class="bi text-success table-button-nexum" fill="currentColor">
                                                                    <use xlink:href="#circle-fill"></use>
                                                                </svg>
                                                                break;
                                                            case DeviceStatus.RestoreInProgress:
                                                            case DeviceStatus.BackupInProgress:
                                                                <svg class="bi text-warning table-button-nexum" fill="currentColor">
                                                                    <use xlink:href="#circle-fill"></use>
                                                                </svg>
                                                                break;
                                                            default:
                                                                <svg class="bi text-danger table-button-nexum" fill="currentColor">
                                                                    <use xlink:href="#circle-fill"></use>
                                                                </svg>
                                                                break;
                                                        }
                                                        <b class="text-nexum-light ms-2"><span>@tenant.Devices.Where(d => d.Id == job.DeviceId).FirstOrDefault()?.DeviceInfo.Name</span></b>
                                                    </div>
                                                }
                                            </td>
                                        }
                                        <td class="border-0 text-nexum-light">@EnumUtilities.AddSpacesToCapital(EnumUtilities.EnumToString(job.Status))</td>
                                        <td class="border-0 text-nexum-light">@EnumUtilities.AddSpacesToCapital(EnumUtilities.EnumToString(job.Settings.Type))</td>
                                        <td class="border-0">
                                            <div class="d-flex justify-content-center align-items-center text-nexum-light">
                                                <div class="h-100 w-100">
                                                    @if (@job.Progress != null && job.Status != DeviceJobStatus.NotStarted)
                                                    {
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: @job.Progress%;" aria-valuenow="@job.Progress" aria-valuemin="0" aria-valuemax="100">
                                                                @job.Progress%
                                                            </div>
                                                        </div>
                                                    }
                                                    else if (job.Status == DeviceJobStatus.Complete)
                                                    {
                                                        <div class="progress">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                100%
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <text>N/A</text>
                                                    }
                                                </div>
                                                @if (job.Status == DeviceJobStatus.NotStarted)
                                                {
                                                    <form id="jobStartlink@(job.Id)" asp-controller="Job" asp-action="Start" asp-route-id="@job.Id">
                                                        <button type="submit" class="nav-link rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                                            <svg class="bi text-success table-button-nexum" fill="currentColor">
                                                                <use xlink:href="#play"></use>
                                                            </svg>
                                                        </button>
                                                    </form>
                                                }
                                                else if (job.Status == DeviceJobStatus.Paused)
                                                {
                                                    <form id="jobResumelink@(job.Id)" asp-controller="Job" asp-action="Resume" asp-route-id="@job.Id">
                                                        <button type="submit" class="nav-link rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                                            <svg class="bi text-success table-button-nexum" fill="currentColor">
                                                                <use xlink:href="#play"></use>
                                                            </svg>
                                                        </button>
                                                    </form>
                                                }
                                                else if (job.Status == DeviceJobStatus.InProgress || job.Status == DeviceJobStatus.Restarting)
                                                {
                                                    <form id="jobPauselink@(job.Id)" asp-controller="Job" asp-action="Pause" asp-route-id="@job.Id">
                                                        <button type="submit" class="nav-link rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                                            <svg class="bi text-warning table-button-nexum" fill="currentColor">
                                                                <use xlink:href="#pause"></use>
                                                            </svg>
                                                        </button>
                                                    </form>
                                                }
                                                else if (job.Status == DeviceJobStatus.Complete)
                                                {
                                                    <div class="rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                                        <svg class="bi text-success table-button-nexum" fill="currentColor">
                                                            <use xlink:href="#check-lg"></use>
                                                        </svg>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                                        <svg class="bi text-danger table-button-nexum" fill="currentColor">
                                                            <use xlink:href="#arrow-clockwise"></use>
                                                        </svg>
                                                    </div>
                                                }
                                                @if (job.Status == DeviceJobStatus.InProgress || job.Status == DeviceJobStatus.Restarting || job.Status == DeviceJobStatus.Paused)
                                                {
                                                    <form id="jobStoplink@(job.Id)" asp-controller="Job" asp-action="Stop" asp-route-id="@job.Id">
                                                        <button type="submit" class="nav-link rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                                            <svg class="bi text-danger table-button-nexum" fill="currentColor">
                                                                <use xlink:href="#stop"></use>
                                                            </svg>
                                                        </button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <div class="rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                                        <svg class="bi opacity-0 table-button-nexum" fill="currentColor">
                                                            <use xlink:href="#dot"></use>
                                                        </svg>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                        <td class="border-0">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" role="button" data-bs-toggle="collapse" data-bs-target="#details@(job.Id)">
                                                    <svg class="bi text-nexum-light table-button-nexum" fill="currentColor">
                                                        <use xlink:href="#eye"></use>
                                                    </svg>
                                                </a>
                                                <a id="jobUpdateLink@(job.Id)" class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Job" asp-action="Update" asp-route-id="@job.Id" role="button">
                                                    <svg class="bi text-nexum-light table-button-nexum" fill="currentColor">
                                                        <use xlink:href="#pencil-square"></use>
                                                    </svg>
                                                </a>
                                                <form id="jobDeletelink@(job.Id)" asp-controller="Job" asp-action="Delete" asp-route-id="@job.Id">
                                                    <button type="submit" class="nav-link rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                                        <svg class="bi text-danger table-button-nexum" fill="currentColor">
                                                            <use xlink:href="#x-circle"></use>
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                                        <td class="p-0 border-0" colspan="12">
                                            <div id="details@(job.Id)" class="collapse">
                                                <table class="table m-0 table-nexum-dark border-0">
                                                    <thead>
                                                        <tr class="text-center text-nowrap">
                                                            <th class="border-0 text-nexum-light">NAS</th>
                                                            <th class="border-0 text-nexum-light">Update Interval</th>
                                                            <th class="border-0 text-nexum-light">Retry Count</th>
                                                            <th class="border-0 text-nexum-light">Sampling</th>
                                                            <th class="border-0 text-nexum-light">Retention</th>
                                                            <th class="border-0 text-nexum-light">Start Time</th>
                                                            <th class="border-0 text-nexum-light">End Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="border-2 border-top-0 border-start-0 border-end-0">
                                                        <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                                                            <td class="border-0 text-nexum-light">@tenant.NASServers.Where(n => n.BackupServerId == job.Settings.BackupServerId).FirstOrDefault()?.Name</td>
                                                            <td class="border-0 text-nexum-light">@job.Settings.UpdateInterval</td>
                                                            <td class="border-0 text-nexum-light">@job.Settings.RetryCount</td>
                                                            <td class="border-0 text-nexum-light">@job.Settings.Sampling</td>
                                                            <td class="border-0 text-nexum-light">@job.Settings.Retention</td>
                                                            <td class="border-0 text-nexum-light">@job.Settings.StartTime.ToString()</td>
                                                            <td class="border-0 text-nexum-light">@job.Settings.EndTime.ToString()</td>
                                                        </tr>
                                                        <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                                                            <td class="p-0 border-0" colspan="12">
                                                                <table class="table m-0 table-nexum-dark border-0">
                                                                    <thead>
                                                                        <tr class="text-center text-nowrap">
                                                                            <th class="border-0 text-nexum-light">Sunday</th>
                                                                            <th class="border-0 text-nexum-light">Monday</th>
                                                                            <th class="border-0 text-nexum-light">Tuesday</th>
                                                                            <th class="border-0 text-nexum-light">Wednesday</th>
                                                                            <th class="border-0 text-nexum-light">Thursday</th>
                                                                            <th class="border-0 text-nexum-light">Friday</th>
                                                                            <th class="border-0 text-nexum-light">Saturday</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                                                                            <td class="border-0 text-nexum-light">@((job.Settings.Schedule.Sunday) ? "True" : "False")</td>
                                                                            <td class="border-0 text-nexum-light">@((job.Settings.Schedule.Monday) ? "True" : "False")</td>
                                                                            <td class="border-0 text-nexum-light">@((job.Settings.Schedule.Tuesday) ? "True" : "False")</td>
                                                                            <td class="border-0 text-nexum-light">@((job.Settings.Schedule.Wednesday) ? "True" : "False")</td>
                                                                            <td class="border-0 text-nexum-light">@((job.Settings.Schedule.Thursday) ? "True" : "False")</td>
                                                                            <td class="border-0 text-nexum-light">@((job.Settings.Schedule.Friday) ? "True" : "False")</td>
                                                                            <td class="border-0 text-nexum-light">@((job.Settings.Schedule.Saturday) ? "True" : "False")</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>