<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-dark bg-gradient">
    <header>
        <nav id="topNavbar" class="navbar bg-dark">
            <div class="container-fluid bg-dark">
                <a asp-controller="Home" asp-action="Index" style="text-decoration:none; color:inherit;">
                    <img src="~/images/NexumLogoTransparent.png" alt="Nexum Logo" style="height: auto; max-width: 50px;" />
                    <img src="~/images/NexumLogoLongNoN.png" alt="Nexum Logo" style="height: auto; max-width: 80px;" />
                </a>
                <p class="h4 text-white">Nexum Backup Solution</p>
                <div class="dropdown">
                    <button id="navDropdownMenuButton" class="btn btn-dark d-flex no-dropdown-arrow" data-bs-toggle="dropdown">
                        <i class="bi bi-gear" style="font-size: 2rem;"></i>
                    </button>
                    <ul id="navDropdownMenu" class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">@(User.Identity?.Name ?? "Settings")</a></li>
                        <li><a class="dropdown-item" href="#">Admin Panel</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        @* <div>
            <h3>Cookie Claims</h3>
            <div id="cookie-claims"></div>
            <h3>Session Claims</h3>
            <div id="session-claims"></div>
        </div> *@
    </header>
    <div class="mb-3">
        <main role="main">
            @if (TempData.ContainsKey("LastActionMessage"))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["LastActionMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData.ContainsKey("ErrorMessage"))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container text-body-secondary text-center">
            &copy; 2024 Nexum <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color:inherit;">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script src="_framework/blazor.server.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@{
    var claims = AuthCookieUtilities.GetClaims(Context);
    var claimsJson = System.Text.Json.JsonSerializer.Serialize(claims);
    var sessionData = Context.Session.Keys;
    var sessionJson = System.Text.Json.JsonSerializer.Serialize(Context.Session.Keys);
}

@section Scripts {
    <script>
        (function (claims, sessionData) {

            const claimsHtml = Object.entries(claims).map(([key, value]) => `<li>${key}: ${value}</li>`).join('');
            document.getElementById('cookie-claims').innerHTML = `<ul>${claimsHtml}</ul>`;

            const sessionHtml = Object.entries(sessionData).map(([key, value]) => `<li>${key}: ${value}</li>`).join('');
            document.getElementById('session-claims').innerHTML = `<ul>${sessionHtml}</ul>`;
        })(
            @Html.Raw(claimsJson),
            @Html.Raw(sessionJson)
        );
    </script>
}