@model ICollection<ApplicationUser>?

<div class="table-responsive">
    <table class="table m-0 table-nexum-dark rounded-5 overflow-hidden">
        <thead>
            <tr class="text-center">
                <th class="border-0 text-nexum-light">#</th>
                <th class="border-0 text-nexum-light">Username</th>
                <th class="border-0 text-nexum-light">Type</th>
                <th class="border-0 text-nexum-light">Id</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr>
                    <td class="border-2 border-top-0 border-start-0 border-end-0 text-center text-nowrap text-nexum-light" colspan="12">No users found</td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (var user in Model.OrderBy(au => au.UserName))
                {
                    i++;
                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                        <td class="border-0 text-nexum-light">@i</td>
                        <td class="border-0 text-nexum-light">
                            <div class="rounded-1 d-flex align-items-center justify-content-start p-0" style="border: none; background: none;">
                                <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" role="button" data-bs-toggle="collapse" data-bs-target="#details@(user.Id)">
                                    <svg class="bi text-nexum-light table-button-nexum" fill="currentColor">
                                        <use xlink:href="#eye"></use>
                                    </svg>
                                </a>
                                <b class="text-nexum-light ms-2"><span>@user.UserName</span></b>
                            </div>
                        </td>
                        <td class="border-0 text-nexum-light">@(EnumUtilities.EnumToString(user.Type))</td>
                        <td class="border-0 text-nexum-light">@user.Id</td>
                    </tr>
                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                        <td class="p-0 border-0" colspan="12">
                            <div id="details@(user.Id)" class="collapse">
                                <table class="table m-0 table-nexum-dark border-0">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="border-0 text-nexum-light">#</th>
                                            <th class="border-0 text-nexum-light">Role</th>
                                            <th class="border-0 text-nexum-light">Description</th>
                                            <th class="border-0 text-nexum-light">Is Active</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (user.UserRoles == null || !user.UserRoles.Any())
                                        {
                                            <tr>
                                                <td class="border-2 border-top-0 border-start-0 border-end-0 text-center text-nowrap text-nexum-light" colspan="12">No roles found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            int j = 0;
                                            @foreach (var userRole in user.UserRoles.OrderBy(ur => ur.Role.Name))
                                            {
                                                if (userRole != null)
                                                {
                                                    j++;
                                                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                                                        <td class="border-0 text-nexum-light">@j</td>
                                                        <td class="border-0 text-nexum-light text-start" style="max-width:100px;">@userRole.Role?.Name</td>
                                                        <td class="border-0 text-nexum-light text-start" style="max-width:100px;">@userRole.Role?.Description</td>
                                                        <td class="border-0 text-nexum-light" style="max-width:100px;">@((userRole.Role?.IsActive ?? true) ? "True" : "False")</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
