@model ICollection<ApplicationUser>?

<div class="table-responsive">
    <table class="table m-0 table-nexum-dark rounded-5 overflow-hidden">
        <thead>
            <tr class="text-center">
                <th class="border-0 text-nexum-light">#</th>
                <th class="border-0 text-nexum-light">Username</th>
                <th class="border-0 text-nexum-light">Type</th>
                <th class="border-0 text-nexum-light">Id</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr>
                    <td class="text-center text-nowrap text-nexum-light" colspan="12">No Users found</td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (var user in Model.OrderBy(au => au.UserName))
                {
                    i++;
                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                        <td class="border-0 text-nexum-light">@i</td>
                        <td class="border-0 text-nexum-light">@user.UserName</td>
                        <td class="border-0 text-nexum-light">@(EnumUtilities.EnumToString(user.Type))</td>
                        <td class="border-0 text-nexum-light">@user.Id</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
