@model ICollection<Tenant>?

<div class="table-responsive">
    <table class="table m-0 table-nexum-dark rounded-5 overflow-hidden">
        <thead>
            <tr class="text-center">
                <th class="border-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <a id="nasCreateLink" class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="Create" role="button">
                            <svg class="bi text-success" fill="currentColor" style="max-height: 25px; max-width: 25px;">
                                <use xlink:href="#plus-circle"></use>
                            </svg>
                        </a>
                    </div>
                </th>
                @if (Model.Count() > 1)
                {
                    <th class="border-0">Tenant</th>
                }
                <th class="border-0">Name</th>
                <th class="border-0">Path</th>
                <th class="border-0">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count(t => t.NASServers == null) == Model.Count())
            {
                <tr>
                    <td class="text-center text-nowrap" colspan="12">No NAS Servers found</td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (var tenant in Model.OrderBy(t => t.Name))
                {
                    if (tenant.NASServers == null || tenant.NASServers.Count == 0)
                    {

                    }
                    else
                    {
                        foreach (var nasServer in tenant.NASServers.OrderBy(n => n.Name))
                        {
                            i++;
                            <tr>
                                <td class="p-0 border-0" colspan="12">
                                    <div id="tempDataMessageTenant@(tenant.Id)"></div>
                                </td>
                            </tr>
                            <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap">
                                <td class="border-0">@i</td>
                                @if (Model.Count() > 1)
                                {
                                    <th class="border-0">@tenant.Name</th>
                                }
                                <td class="border-0">@nasServer.Name</td>
                                <td class="border-0">@nasServer.Path</td>
                                <td class="border-0">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a id="nasEditLink@(tenant.Id)" class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Storage" asp-action="UpdateNAS" asp-route-id="@tenant.Id" role="button">
                                            <svg class="bi text-light table-button-nexum" fill="currentColor">
                                                <use xlink:href="#pencil-square"></use>
                                            </svg>
                                        </a>
                                        <form id="nasDeletelink@(tenant.Id)" asp-controller="Storage" asp-action="DeleteNAS" asp-route-id="@tenant.Id">
                                            <button type="submit" class="nav-link rounded-1 d-flex align-items-center justify-content-center btn btn-link p-0" style="border: none; background: none;">
                                                <svg class="bi text-danger table-button-nexum" fill="currentColor">
                                                    <use xlink:href="#x-circle"></use>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>
