@model RoleViewModel

<div class="table-responsive">
    <table class="table m-0 table-nexum-dark rounded-5 overflow-hidden">
        <thead>
            <tr class="text-center">
                <th class="border-0 text-nexum-light">#</th>
                <th class="border-0 text-nexum-light">Name</th>
                <th class="border-0 text-nexum-light">Description</th>
                <th class="border-0 text-nexum-light">Id</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Roles == null || !Model.Roles.Any())
            {
                <tr>
                    <td class="border-2 border-top-0 border-start-0 border-end-0 text-center text-nowrap text-nexum-light" colspan="12">No Roles found</td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (var role in Model.Roles.OrderBy(r => r.Name))
                {
                    i++;
                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                        <td class="border-0 text-nexum-light">@i</td>
                        <td class="border-0 text-nexum-light">
                            <div class="rounded-1 d-flex align-items-center justify-content-start p-0" style="border: none; background: none;">
                                <a class="nav-link rounded-1 d-flex align-items-center justify-content-center" role="button" data-bs-toggle="collapse" data-bs-target="#details@(role.Id)">
                                    <svg class="bi text-nexum-light table-button-nexum" fill="currentColor">
                                        <use xlink:href="#eye"></use>
                                    </svg>
                                </a>
                                <b class="text-nexum-light ms-2"><span>@role.Name</span></b>
                            </div>
                        </td>
                        <td class="border-0 text-nexum-light text-start">@role.Description</td>
                        <td class="border-0 text-nexum-light">@role.Id</td>
                    </tr>
                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                        <td class="p-0 border-0" colspan="12">
                            <div id="details@(role.Id)" class="collapse">
                                <table class="table m-0 table-nexum-dark border-0">
                                    <thead>
                                        <tr class="text-center">
                                            <th class="border-0 text-nexum-light">#</th>
                                            <th class="border-0 text-nexum-light">Permission</th>
                                            <th class="border-0 text-nexum-light">Tenant</th>
                                            <th class="border-0 text-nexum-light">Description</th>
                                            <th class="border-0 text-nexum-light">Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (role.RolePermissions == null || !role.RolePermissions.Any())
                                        {
                                            <tr>
                                                <td class="border-2 border-top-0 border-start-0 border-end-0 text-center text-nowrap text-nexum-light" colspan="12">No permissions found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            int j = 0;
                                            @foreach (var rolePermission in role.RolePermissions.OrderBy(rp => rp.TenantId))
                                            {
                                                if (rolePermission != null)
                                                {
                                                    j++;
                                                    <tr class="@(i % 2 == 0 ? "row-nexum-striped-odd" : "row-nexum-striped-even") text-center text-nowrap align-middle">
                                                        <td class="border-0 text-nexum-light">@j</td>
                                                        <td class="border-0 text-nexum-light text-start" style="max-width:100px;">@rolePermission.Permission?.Name</td>
                                                        @if (rolePermission.Permission != null && rolePermission.Permission.Type != PermissionType.System)
                                                        {
                                                            <td class="border-0 text-nexum-light">
                                                                @Model.Tenants.Where(t => t.Id == rolePermission.TenantId).FirstOrDefault()?.Name
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="border-0 text-nexum-light">N/A</td>
                                                        }
                                                        <td class="border-0 text-nexum-light text-start" style="max-width:150px;">@rolePermission.Permission?.Description</td>
                                                        @if (rolePermission.Permission != null)
                                                        {
                                                            <td class="border-0 text-nexum-light">@rolePermission.Permission.Type</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="border-0 text-nexum-light">N/A</td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
